

.container{
  /* margin:10px 30px; */
  padding:0px 70px;
  font-family: Roboto;
}
.loader{
  display:flex;
  justify-content: center;
  text-align: center;
  margin:15px 0px;
}
.no-results{
  text-align: center;
}
.form-container{
  margin:0px auto;
  background-color: darkslategray;
  padding:30px 0px 30px 0px;
  
}
.input-container{
  background-color: white;
  width:40%;
  display:flex;
  margin:0 auto;
  padding: 9px 10px;
  /* border-radius:1rem; */

}
.search-bar{
  width:100%;
  border:none;
  outline:none;
  padding-left:10px;
}
.search-title{
  font-size:32px;
  color:white;
  margin:0px 0px 20px 0px;
  text-align: center;
}
.meal-planner-form{
  text-align: center;
}
.suggestions-container{
  list-style-type: none;
  padding-left:0;
  background-color: white;
  width:40%;
  margin:0 auto;
  padding: 9px 10px;

  
}

.suggestion{
  cursor:pointer;
  padding:8px 0px;
  font-size:16px;
}
.no-results{
  text-align: center;
}
.home-banner{
  display:flex;
  align-items:center;
}
.banner-img{
  width:60%;
  margin-right:20px;
  min-height:450px;
  border-radius:12px;
}
.explore-btn{
  background-color: orange;
  /* color:white; */
  font-size:18px;
  padding:10px 35px;
  border-width:0px;
  border-radius:8px;
  cursor:pointer;
}
.recipes-container{
  list-style-type: none;
  padding-left:0;
  display:flex;
  flex-wrap:wrap;
  /* padding:10px 40px; */
 
}
.recipe-link{
  text-decoration: none;
}
.recipe-title{
  color:blacK;
  width:380px;
}
.recipe{
  margin:10px;
}
.recipe-img{
  min-height:300px;
  width:380px;
  border-radius:2rem;
}
.nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: dodgerblue;
  padding:5px 10px;
}
.logo{
  text-decoration: none;
  color:black;
  width:110px;
  height:70px;
}
.nav-link{
  text-decoration: none;
  color:white;
  font-size:18px;
  padding:10px;
}
.recipe-info-container{
  margin:15px 60px;
  padding:0px 30px;
}
.recipe-wrapper{
  display:flex;
  
  align-items: start;
}
.info-btn{
  padding:8px 15px;
  border-radius:8px;
  margin:8px;
  cursor: pointer;
}
.btn-container{
  margin:20px 0px 0px 35px;
}
.active{
  background-color: darkgreen;
  color:white;
}

.calories-input{
  padding:11px 10px;
  width:30%;
  border-radius:1rem;
  border-width:0px;
  outline:none;
  margin:20px 0px 0px 0px;
}
.get-meal-btn{
  padding:8px 20px;
  border-width: 0px;
  border-radius:8px;
  background-color:green;
  color:white;
  font-size:16px;
  margin:15px 0px;
  cursor: pointer;
}
.meals-container{
  list-style-type: none;
  padding-left: 0;
  display:flex;
  flex-wrap:wrap;
}
.meal{
  margin:10px;
}
.meal-img{
  width:550px;
}
.meal-url{
  text-decoration: none;
}
.ingredients-container{
  list-style-type: none;
  padding-left: 0;
  display:flex;
  flex-wrap:wrap;
}
.ingredient-img{
  height:100px;
}
.ingredient{
  width:150px;
  margin:10px;
  text-align: center;
}
.ingredients-input{
  width:100%;
  border:none;
  outline:none;
  padding-left:10px;
}
.ingredients-recipes-intro{
  display:flex;
  align-items: center;
}

.ingredient-intro-image{
  width:55%;
  margin-right:20px;
}
.wines-container{
  margin:25px 0px;
  text-align: center;
}
.wine-dropdown{
  padding:10px 6px;
  font-size:16px;
  width:20%;
}
.get-wines-btn{
  padding:11px 18px;
  background-color: blue;
  margin:0px 10px;
  color: white;
  border: none;
  cursor: pointer;
  font-size:16px;
}
.wines-list{
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
}

.wine{
  /* margin:0px 20px; */
  /* border:2px solid red; */
  width:32%;
  margin:0px 20px 0px 0px;
  padding:10px 15px;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0),rgb(0, 0, 0,0.2));
}
.wine-image{
  height:200px;
}
.view-more-container{
  display:flex;
  align-items: center;
  justify-content: center;
  color:darkgoldenrod;
}
.view-more-btn{
  text-decoration: none;
  display:block;
  margin:10px 8px 10px 0px;
  color:darkgoldenrod;
}
.wine-banner-container{
  position: relative;
}
.wine-banner-text{
  position: absolute;
  top:68%;
  left:50%;
  transform: translate(-50%,-50%);
  color:white;
  font-size:35px;
  /* max-width:400px; */
  width:auto;
  text-align: center;
}
.wine-banner-img{
  width:100%;
  height:500px;
}

.meal-planner-container{
  display:flex;
}
.mealplan-sidebar{
  display:flex;
  flex-direction: column;
  align-items: start;
  background-color: rgb(4, 23, 24);
  /* padding:20px; */
  padding:15px 20px;
  width:20%;
  height:100vh;
  margin:0px;
  list-style-type: none;
 
}
.mealplan-mainbar{
  width:80%;
}
.meal-link{
  text-decoration: none;

  color:rgb(255, 255, 255,0.8);
  cursor:pointer;
}
.meal-option{
  font-size:18px;
  padding:8px 0px;
  font-weight:500;
}
.profiles-page{
  padding:20px;
}
.profiles{
  list-style-type: none;
  padding-left: 0;
}
.profile-container{
  display:flex;
  margin:30px 0px;
}
.profile-link{
  text-decoration: none;
  color:black;
  
}
.profile-logo{
  text-transform: uppercase;
  background-color: cadetblue;
  padding:30px;
  border-radius:50%;
  margin:10px;
  font-size:20px;
  font-weight: bold;
  
}

.label{
  display: block;
  margin:8px 0px;
  font-size:17px;
}

.input-field{
  width:40%;
  padding:5px 4px;
}

.connect-input-field{
  width:100%;
  padding:5px 4px;
}
.meal-btn{
  display: block;
  padding:8px 25px;
  background-color: blue;
  color:white;
  font-size:15px;
  border-width:0px;
  margin:15px 0px;
  width:40%;
}
/* .add-meal-form{
  width:80%;
} */
.mealplan-container{
  padding:20px;
  display:flex;flex-direction: column;
  align-items: center;
  background-color:aliceblue;
}
.connect-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
}
.form-group{
  width:100%;
}
.go-to-profile-container{
  display:flex;
  align-items: center;
}
.go-to-profile{
  border:none;
  background-color: transparent;
  color:rgb(89, 0, 255);
  cursor:pointer;
  font-size:16px;
}

.meals-list{
  list-style-type: none;
  padding-left: 0;
  display:flex;
  flex-wrap: wrap;
}
.meal{
  width:230px;
 
  padding:10px 15px;
}
.cuisine-container{
  display:flex;
  justify-content: center;
  list-style-type: none;
  padding-left:0;
}
.cuisine{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:80px;
  height:80px;
  background:darkslategray;
  border-radius: 50%;

  text-align: center;
  margin:10px;
  /* text-decoration: none; */
}
.cuisine-link{
  text-decoration: none;
  color:beige;

}
.cuisine-name{
  margin:0;
  font-size:11px;

}
.login-btn{
  background-color: blue;
  color:white;
  padding:8px 20px;
  border-width:0px;
  font-size:16px;
  margin:10px 0px;
  cursor:pointer;
}
.login-form{
  /* display:flex;
  flex-direction: column;
  align-items: center; */
  width:450px;
}
.login-form-container{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.get-meal-week-container{
  display:flex;
  flex-wrap:wrap;
  list-style-type: none;
  padding-left: 0;
}
.get-meal-week-item{
  margin:5px 25px 10px 0px;
  width:200px;
  text-align: center;
  
  /* width:240px; */

}
.meal-day{
  background:rgb(86, 168, 201);
  color:white;
  text-transform: uppercase;
  padding:8px 14px;
  font-weight: 500;
  text-align: center;
  margin:0;
}
.meal-image{
  width:100%;
  height:150px;
}
.meal-slot{
  margin:14px;
}
.meal-title{
  font-size:15px;
  margin:15px 0px;
}
.meal-delete-btn{
  cursor: pointer;
  padding:6px 20px;
  background-color: maroon;
  color:white;
  font-size: 16px;
  border-width: 0px;
  width:100%;
  margin:18px 0px;
}
.no-profiles-container{
 text-align: center;

}
.no-profile-link{
  text-decoration: none;
  color:cornflowerblue;
}
.connect-spoonacular-container{
  display:flex;
  color:white;
  justify-content: center;
}
.connect-spoonacular-link{
  text-decoration: none;
  background-color: transparent;
  border-width: 0px;
  color:green;
  font-size:15px;
}
.dropdown{
  display:inline-block;


}
.dropdown-content{
  display:none;
  position: absolute;
  /* top:30px; */
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1
}
.dropdown-link{
  display:block;
  color: black;
}
.dropdown-link:hover{
  background-color: #ddd;
}
.dropdown:hover .dropdown-content{
  display:block;
}